@media (min-width: 800px) {
html {
  border: solid 2px;
  border-color:darkgrey;
}

body {
  background-image: url(image.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html, body {
  height: 100%;
}

.reg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110%;
  width: 100%;
  border: solid 2px; 
  border-color: rgb(52, 96, 134);
  border-radius: 10px;
  overflow-x:hidden;
  word-wrap: break-word;
}

.reg button {
  background-color: rgb(170, 248, 248);
  border-radius: 10px;
  word-wrap: break-word;
  width: 60%;
}

.reg:hover {
  background-color: rgb(82, 82, 87);
}

.reg input {
  display: flex;
  margin: 8%;
  background-color: rgb(117, 159, 236);
  border-top-right-radius: 40px;
  color:darkblue;
  padding: 0;
  word-wrap: break-word;
  width: 80%;
 
}

.reg input::placeholder {
  color:indigo;
}

.reg form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reg form button {
  margin: 5%;
  background-color: rgb(219, 247, 191);
  word-wrap: break-word;
}

.div-welcome {
  margin-bottom: 50%;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.div-welcome h1 {
  margin: 0
}

.div-welcome button {
  margin-top: 10%;
  width: 10vw;
  word-wrap: break-word;
  background-color: rgb(58, 58, 58);
  color: white;
  border-radius: 10px;
}
}



@media  (max-width: 799px) {
html {
  border: solid 2px;
  border-color:darkgrey;
}

  body {
  background-image: url(image.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html, body {
  height: 100%;
}

.reg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 125%;
  width: 110%;
  border: solid 2px; 
  border-color: rgb(52, 96, 134);
  border-radius: 10px;
  overflow-x:hidden;
  word-wrap: break-word;
  background-color: rgb(82, 82, 87);

}

.reg button {
  background-color: rgb(170, 248, 248);
  border-radius: 10px;
  word-wrap: break-word;
  width: 60%;
}

.reg input {
  display: flex;
  margin: 8%;
  background-color: rgb(117, 159, 236);
  border-top-right-radius: 40px;
  color:darkblue;
  padding: 0;
  word-wrap: break-word;
  width: 80%;
 
}

.reg input::placeholder {
  color:indigo;
}

.reg form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reg form button {
  margin: 5%;
  background-color: rgb(219, 247, 191);
  word-wrap: break-word;
}

.div-welcome {
  margin-bottom: 50%;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.div-welcome h1 {
  margin: 0
}

.div-welcome button {
  margin-top: 10%;
  width: 20%;
  word-wrap: break-word;
  background-color: rgb(58, 58, 58);
  color: white;
  border-radius: 10px;
} 
}